Django
asgiref
pytz
sqlparse
python-decouple
djangorestframework
gunicorn
redis
psycopg2
psycopg2-binary
requests
django-filter
django-cors-headers
schedule
python-binance
pandas
python-telegram-bot
telegram-send
bta-lib
technic
TA-Lib
numpy
backtrader
ccxt
backtrader_plotting
Celery
numpyencoder
django-dbbackup
boto3
botocore
boto
django-storages
django-q
psutil
hiredis
pymongo
iron-mq
django-admin-csvexport
django-extensions
supervisor
django-redis
