# sudo nano /etc/systemd/system/qcluster.service

[Unit]
Description=Async Tasks Runner
After=multi-user.target

[Service]
ExecStart=/home/tas/venv/bin/python3 /home/tas/manage.py qcluster
WorkingDirectory=/home/tas
Restart=always

[Install]
WantedBy=multi-user.target
