#sudo nano /etc/systemd/system/websocketstream.service

[Unit]
Description=Websocket Stream Buffering
After=network.target

[Service]
ExecStart=/home/tas/venv/bin/python3.9 /home/tas/manage.py websocketstream
WorkingDirectory=/home/tas
Restart=always

[Install]
WantedBy=multi-user.target

