#sudo nano /etc/systemd/system/dispatcherbot.service

[Unit]
Description=dispatcher bot demon
After=network.target

[Service]
ExecStart=/home/tas/venv/bin/python3 /home/tas/manage.py botdispatcher
WorkingDirectory=/home/tas
Restart=always

[Install]
WantedBy=multi-user.target

