<html>
<head>
    <title>Test web socket ordini</title>
</head>
<body>
<h1>Test web socket</h1>
<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var conn = new WebSocket(ws_scheme + '://'
        + window.location.host
        + '/ws/bot/list'
    );

    conn.onmessage = function (e) {
        console.log("connesso")
        console.log(e.data);
    };
    conn.onclose = function (e) {
        console.log(e)
        console.error('Error websocket');
    };

    /*
    conn.onopen = () => conn.send(
        (JSON.stringify({
            action: "list",
            request_id: new Date().getTime(),
        })));
    */
    conn.onopen = () => conn.send(
        (JSON.stringify({
            action: "retrieve",
            request_id: new Date().getTime(),
            pk: 1,
        })));

</script>
</body>
</html>
