// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
@import "~@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";

ul.c-sidebar-nav {
    background-color: #1d2125;
}

button.c-sidebar-minimizer {
    background-color: #3e4e5d;
}

c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-link {
    color: #fff;
}
